body {
  background-image: URL("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  scrollbar-width: none;
}

#tokeninput {
  text-align: center;
}

#token{
  background-color: rgba(0, 200, 200, 0.7);
  border-color: transparent;
  color: white;
  height: 25px;
  width: 200px;
  border-radius: 10px;
  margin-top: 50px;
}

#token::placeholder {
  color: white;
}

.button {
  background-color: rgba(0, 200, 200, 0.7);
  border-radius: 8px;
  height: 30px;
  border-color: transparent;
}

#newtokenbutton {
  text-align: center;
  margin-top: 30px;
  margin-right: 50px;
}

#fs {
  color: rgb(0, 255, 0);
  font-family: Courier New;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 5px;
  width: 700px;
  margin-top: 40px;
  overflow: hidden;
  text-align: left;
  
}

#imageurl, #tokenvalue {
  color: rgb(0, 255, 0);
  font-family: Courier New;
}

#github {
  text-decoration: none;
  color:rgb(0, 255, 0);
}
